html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-medium;
    font-weight: 300;
    color: $grayishBlue;
    line-height: 1.3;

    &.not-scroll {
        overflow: hidden;
    }
}

a, a:visited, a:hover {
    text-decoration: none;
}

.container {
    padding-left: rem(24);
    padding-right: rem(24);
}

// Flexbox Styles
.flex {
    display: flex;

    &-justify-between {
        justify-content: space-between;
    }

    &-justify-around {
        justify-content: space-around;
    }

    &-justify-end {
        justify-content: flex-end;
    }

    &-justify-center {
        justify-items: center;
    }

    &-align-center {
        align-items: center;
    }
}

// Buttons
button, .button {
    padding: rem(14) rem(35);
    background-image: linear-gradient(to right, $limeGreen, $brightCyan);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: $white;
    font-weight: 400;
}

.hide-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}
