.header {
    position: relative;

    // Hamburger Styles
    &.close {
        .header__toggle {
            > span:nth-child(1) {
                transform: rotate(45deg);
            }
        
            > span:nth-child(2) {
                opacity: 0;
            }
        
            > span:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }

    .overlay {
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $darkBlue;
        background: linear-gradient($darkBlue, transparent);
    }

    nav {
        position: relative;
        z-index: 1;
        background-color: $white;
        padding-top: rem(17);
        padding-bottom: rem(17);
    }

    &__logo {
        img {
            width: rem(141);
            height: rem(22);
        }
    }

    &__toggle {
        > span {
            display: block;
            width: 26px;
            height: 3px;
            background-color: $darkBlue;
            border-radius: 3px;
            transition: all 300ms ease-in-out;
            transform-origin: 2px 1px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &__menu {
        position: absolute;
        z-index: 0;

        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        background: $white;
        margin-top: rem(24);
        padding: rem(16);
        border-radius: 3px;

        a {
            display: block;
            padding: rem(10);
            color: $darkBlue;
            text-align: center;
        }
    }

    &__links {
        a {
            position: relative;
            color: $grayishBlue;
            font-size: $font-small;
            transition: 300ms ease-in-out;

            &:not(:last-child) {
                margin-right: 32px;
            }

            &:before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 5px;
                left: 0;
                right: 0;
                bottom: -30px;
                background-image: linear-gradient(to right, $limeGreen, $brightCyan);
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }

            &:hover {
                color: $darkBlue;

                &:before {
                    opacity: 1;
                }
            }
        }
    }

    &__cta {
        font-size: $font-small;
        color: $white;
        opacity: 1;
        transition: opacity 300ms ease-in-out;

        &:hover {
            opacity: 0.75;
        }
    }
}